<div id="tabs-4">
  <div class="in">      
    <table width="850" border="0" cellspacing="0" cellpadding="10" class="table_main" >
      <tr style="background-color:#d9d8d8;font-size:14px;">
        <th width="500">Orignal URL</th>
        <th width="150">Fracture URL</th>
        <th width="100">Clciks</th>
      </tr>
      <% @activities.each do |a| %>
      <tr class="<%= cycle %>">
        <td><a href="<%= a.url %>" target="_blank" rel="nofollow"><%= a.url.length > 40 ? "#{a.url[0..40]}..." : a.url %></a></td>
        <td><a href="/<%= a.encoded_uri %>" target="_blank" rel="nofollow">http://fracture.it/<%= a.encoded_uri %></a></td>
        <td style="text-align:right;"><%= a.count %></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
