<div id="tabs-4">
  <div class="in">      
    <table width="850" border="0" cellspacing="0" cellpadding="10" class="table_main" >
      <tr style="background-color:#d9d8d8;font-size:14px;">
        <th width="192">URL</th>
        <th width="192">Browser</th>
        <th width="192">Platform</th>
        <th width="192">Creation</th>
      </tr>
      <% @activities.each do |a| %>
      <tr class="<%= cycle %>">
        <td><a href="http://fracture.it/<%= a.fracture.encoded_uri %>">http://fracture.it/<%= a.fracture.encoded_uri %></a></td>
        <td><%= a.browser %> <%= a.version %></td>
        <td><%= a.platform %></td>
        <td style="text-align:right;"><%= a.created_at %></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
