<div id="mainWrapper"><!--WRAPS MAIN SECTION, CREATING LOVELY GRADIENT BACKGROUND-->
  <div id="main" class="container clearfix">
    <div class="sixteen columns">
    
      <div class="seven columns alpha">
      
        <div class="row remove-bottom">
          <h1 id="title" style="color:#FFFFFF;font:52px 'courgette';text-shadow:2px 2px #01508b;">Fracture.it</h1>
        </div><!--/seven columns alpha-->
      
        <h2 class="tagline"><span class="fancy">"</span>Shorten your URLs like a boss. Start typing in the text field below and hit <em>Enter</em>.<span class="fancy">"</span></h2><!--YOUR TAGLINE OR STATEMENT HERE, DELETE h2.tagline:first-letter IN CSS IF NOT USING QUOTE MARKS-->
        
        <div id="messages"><small>We won't send your details to 3rd parties</small></div>
        <div id="errors"><small></small></div>
        <form method="post" action="/" id="contact_form">
            <input type="text" name="url" id="email" class="email" placeholder="http://" />
            <button type="submit" id="submit"><i class="icon-ok icon large"></i></button>
            <input type="hidden" name="send" value="1" />
        </form><!--/form-->
        
      </div><!--/seven columns offset by two-->
    
    
      <div id="second" class="seven columns offset-by-two omega">
        
        <p>Our <strong>brand new</strong> site is on it's way, not long to go now. <a href="http://github.com/michaelminter" target="_blank">Keep checking in</a> with me for updates.</p><!--MAIN COPY, ADD IN WHAT YOU WISH-->
        
        <p class="half-bottom">Key benefits of use:</p><!--MAIN LIST, ADD IN YOUR FEATURES AND BENEFITS-->
        <ul>
          <li><i class="icon-check"></i> Super fast (mS) transactions</li>
          <li><i class="icon-check"></i> Awesome <a href="/documentation/api"><strong>JSON API</strong></a></li>
          <li><i class="icon-check"></i> <strong>Postgres</strong> backed storage engine</li>
          <li><i class="icon-check"></i> Unilimited life per request</li>
          <li><i class="icon-check"></i> <strong>New</strong> <a href="https://chrome.google.com/webstore/detail/pbalkailkgnkbjnbfphpdlhlplnkngcj" target="_blank">Chrome Extension</a></strong>
        </ul>
        
      </div><!---/seven columns-->
    </div><!--/sixteen columns-->
  </div><!--/container -->
</div><!--/#mainWrapper-->

<div id="table_container">
  <div id="status"></div>
  <table border="0" cellpadding="0" cellspacing="0">
    <tr>
      <th width="500">Original URL</th>
      <th width="230">Fractured URL</th>
      <th width="230">Creation</th>
    </tr>
    <tbody id="pusher_container">
      <% @fractures.each do |f| %>
      <tr class="<%= cycle %>">
        <td><a href="<%= f.url %>" target="_blank" rel="nofollow"><%= f.url.length > 40 ? "#{f.url[0..40]}..." : f.url %></a></td>
        <td><a href="/<%= f.encoded_uri %>" target="_blank" rel="nofollow">http://fracture.it/<%= f.encoded_uri %></a></td>
        <td style="text-align:right;"><%= f.created_at.to_time.ago_in_words %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="footerWrapper"><!--WRAPS FOOTER, CREATING THE WHITE BACKGROUND-->
  <footer class="container clearfix">
    <div class="thirteen columns alpha">
        <div id="menu"><!--THIS WRAPS THE TWEETS SECTION AND PRESERVES THE LOADING MESSAGE-->
          &copy; 2012 <a href="http://moorberry.net" target="_blank">Michael Minter</a>. All Rights Reserved. 
          <a href="/documentation/analysis">Analysis</a>&nbsp;&nbsp;
          <a href="/documentation/api">API</a>&nbsp;&nbsp;
          <a href="/documentation/encoding">How it works</a>&nbsp;&nbsp;
          <a href="http://moorberry.net#contact" target="_blank">Contact</a>
        </div>
    </div><!--/nine columns-->
    
    <div class="three columns omega">
        <div id="socialMedia" class="btn-group"><!--SOCIAL MEDIA LINKS, ADD YOUR APPROPRIATE URL'S TO THE A TAGS-->
            <a class="btn twitter" href="http://twitter.com/mothore"><i class="icon-twitter"></i></a>
            <a class="btn github" href="http://github.com/michaelminter"><i class="icon-github"></i></a>
            <a class="btn linkedin" href="http://www.linkedin.com/in/mminter"><i class="icon-linkedin"></i></a>
        </div>
    </div><!--/seven columns-->
  </footer><!--/footer container-->
</div><!--/footerWrapper-->